@import "tailwindcss";
@plugin "daisyui";

body {
  background: #FEF3E2;
  color: var(--foreground);
  font-family: poppins, sans-serif;
}

a {
  color: black;
  text-decoration: none;

}

/* TIPTAP BASE */

.ProseMirror {
  outline: none;
}

/* LISTS */

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.ProseMirror li {
  margin: 0.25rem 0;
}

/* CODE */

.ProseMirror code {
  background: #000000;
  color: white;
  padding: 6px 6px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.9em;
}

/* CODE BLOCK */

.ProseMirror pre {
  background: #1e1e1e;
  color: white;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
}

/* BLOCKQUOTE */

.ProseMirror blockquote {
  border-left: 4px solid #ccc;
  padding-left: 10px;
  color: #666;
  margin: 10px 0;
}

/* HEADINGS */

.ProseMirror h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.ProseMirror h2 {
  font-size: 1.3rem;
  font-weight: bold;
}
